/* Global Styles Start */
:root {
    --teal-blue: #64a6bd;
    --blue-gray: #90A8C3;
    --blue-purple: #ADA7C9;
    --pink-purple: #D7B9D5;
    --pink: #F4CAE0;

    /* Formatted Colors */
    --primary-text-color: #ffffff;
    --section-header: #1c2e4a;
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pink-purple);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Global Styles End */

/* Header Styles Start */
header {
    background: var(--teal-blue);
    position: sticky;
    position: -webkit-sticky; /* For Safari Browsers */
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding: 10px 15px;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 40px;
}

header a {
    text-decoration: none;
    color: var(--primary-text-color);
    text-shadow: 0 2px 10px rgba(var(--black-rgb), 0.5);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul:hover {
    color: var(--teal-blue);
}

header nav ul li {
    font-size: 18px;
    padding: 5px 20px;
}

header nav ul li:hover {
    font-weight: bolder;
    background-color: var(--blue-gray);
    border-radius: 35%;
}
/* Header Styles End */

/* Hero Styles Start */
.hero {
    background-image: url(../images/lights.jpg);
    background-size: cover;
    background-position: 70%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    background-attachment: fixed;
}

.hero-phrase h2 {
    background-color: var(--teal-blue);
    opacity: .95;
    padding: 5px 10px;
    box-sizing: content-box;
    width: 100%;
    color: var(--primary-text-color);
    text-shadow: 0 2px 10px rgba(var(--black-rgb), 0.5);
    text-align: center;
    font-size: 30px;
}

.hero-phrase {
    padding-right: 12%;
}
/* Hero Styles End */

/* Global Section Styles Start */
section {
    padding: 10px;
}

section h2 {
    color: var(--section-header);
    font-size: 50px;
    text-align: right;
    font-weight: normal;
}

.about, .work, .contact {
    display: flex;
    align-items: center;
}

.about-header, .work-header, .contact-header {
    width: 15%;
    padding-left: 20px;
    margin: 10px 10px 10px 175px;
}

.about-details p, .work-grid-wrapper, .contact-info {
    width: 90%;
    border-left: solid;
    padding-left: 30px;
    justify-content: flex-start;
    font-size: 15px;
}
/* Global Section Styles End */

/* About Me Styles Start */

/* About Me Styles End */

/* My Work Styles Start */
.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    color: var(--section-header);
    font-size: 1.2rem;
    height: 500px;
}

.work-grid-item {
    display: flex;
    margin: 10px 10px;
    border: 5px solid var(--pink);
    color: var(--section-header);
    font-size: 30px;
    align-items: flex-end;
    font-size: 25px;
    padding-bottom: 3%;
}

.work-grid-item-info {
    background-color: var(--teal-blue);
    height: 35%;
    width: 35%;
}

.work-grid-item h3, h4{
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    flex-wrap: wrap;
    display: inline-block;
}

.work-grid-item h4 {
    font-size: 12px;
}

.work-grid-item.work-1 {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
    flex-wrap: wrap;
}



/* My Work Styles End */

/* Contact Me Styles Start */

.contact-info ul {
    display: flex;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.contact-info ul li {
    list-style: none;
    padding: 0px 40px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 24px;
}

.contact a {
    text-decoration: none;
    color: var(--section-header);
}


/* Contact Me Styles End */


/* Footer Styles Start */
footer {
    background: var(--teal-blue);
    display: flex;
    background-size: cover;
    padding: 20px 15px;
    text-align: right;
    color: var(--primary-text-color);
    display: block;
    font-weight: lighter;
    text-align: right;
}
/* Footer Styles End */

/* Media Queries */

/* MQ for screens smaller than 980px */
@media screen and (max-width: 980px) {
    /* Header */
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
        border-bottom: 2px solid white;
    }

    header nav ul {
        width: 100%;
        padding-top: 10px;
    }

    header nav ul li {
        font-size: 15px;
    }
    
    /* Hero */
    .hero {
        height: 175px;
    }

    .hero-phrase h2 {
        font-size: 25px;
    }

    /* About */
    .about, .work, .contact {
        flex-wrap: wrap;
    }

    .about-header, .work-header, .contact-header {
        width: 100%;
        margin: unset;
        padding-bottom: 30px;
    }

    .about-header h2, .work-header h2, .contact-header h2{
        font-size: 60px;
        text-decoration: underline;
        text-align: center;
    }
    
    .about-details p, .work-grid-wrapper, .contact-info {
        border: unset;
    }
}

/* MQ for screens smaller that 768px */
@media screen and (max-width: 768px) {
    /* Hero */
    .hero {
        height: 125px;
        /* justify-content: center; */
    }
}


/* MQ for screens smaller that 575px */
@media screen and (max-width: 575px) {
    /* Header */
    header h1 {
        
    }

    header nav ul{
        width: 100%;
    }

    /* Hero */
    .hero {
        height: 75px;
        justify-content: center;
        padding-right: 0%;
    }

    .hero-phrase {
        padding: unset;
        text-align: center;
    }
}